<!-- TODO -->
<nav class="header">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/docs/assets/icons/logo.png">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs">
                <img src="{{ site.baseurl }}/docs/assets/buttons/documentation.png">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/api">
                <img src="{{ site.baseurl }}/docs/assets/buttons/api.png">
            </a>
        </li>
    </ul>
    <ul class="external-icons">
        <!-- TODO -->
        <li>
            <a href="https://github.com/jbunke/stipple-effect" title="Stipple Effect source code on GitHub">
                <img class="icon" src="{{ site.baseurl }}/docs/assets/icons/github.png">
            </a>
        </li>
        <li>
            <a href="https://flinkerflitzer.itch.io/stipple-effect" title="Buy Stipple Effect on Itch.io">
                <img class="icon" src="{{ site.baseurl }}/docs/assets/icons/itch.png">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/playlist?list=PLy71S74rTLnPEwYYtAXvh2er8QBvWIwRL" title="Stipple Effect YouTube playlist">
                <img class="icon" src="{{ site.baseurl }}/docs/assets/icons/youtube.png">
            </a>
        </li>
        <li>
            <a href="https://marketplace.visualstudio.com/items?itemName=jordanbunke.deltascript-for-stipple-effect" title="VS Code extension for scripting syntax highlighting">
                <img class="icon" src="{{ site.baseurl }}/docs/assets/icons/vscode.png">
            </a>
        </li>
    </ul>
</nav>
