<!-- TODO -->
<nav class="header">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/" title="Home page">
                <img src="{{ site.baseurl }}/assets/icons/logo.png">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs" class="menu-item">
                <img class="static-label" src="{{ site.baseurl }}/assets/labels/documentation.png">
                <img class="hover-label" src="{{ site.baseurl }}/assets/labels/documentation-highlight.gif">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/api" class="menu-item">
                <img class="static-label" src="{{ site.baseurl }}/assets/labels/api.png">
                <img class="hover-label" src="{{ site.baseurl }}/assets/labels/api-highlight.gif">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/gallery" class="menu-item">
                <img class="static-label" src="{{ site.baseurl }}/assets/labels/gallery.png">
                <img class="hover-label" src="{{ site.baseurl }}/assets/labels/gallery-highlight.gif">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/faq" class="menu-item" title="Frequently Asked Questions">
                <img class="static-label" src="{{ site.baseurl }}/assets/labels/faq.png">
                <img class="hover-label" src="{{ site.baseurl }}/assets/labels/faq-highlight.gif">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/buy" class="menu-item" title="Buy Stipple Effect or download the demo version for free">
                <img class="static-label" src="{{ site.baseurl }}/assets/labels/buy.png">
                <img class="hover-label" src="{{ site.baseurl }}/assets/labels/buy-highlight.gif">
            </a>
        </li>
    </ul>
    <ul class="external-icons">
        <li>
            <a href="https://github.com/jbunke/stipple-effect" target="_blank" title="Stipple Effect source code on GitHub">
                <img class="icon" src="{{ site.baseurl }}/assets/icons/github.png">
            </a>
        </li>
        <li>
            <a href="https://flinkerflitzer.itch.io/stipple-effect" target="_blank" title="Buy Stipple Effect on Itch.io">
                <img class="icon" src="{{ site.baseurl }}/assets/icons/itch.png">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/playlist?list=PLy71S74rTLnPEwYYtAXvh2er8QBvWIwRL" target="_blank" title="Stipple Effect YouTube playlist">
                <img class="icon" src="{{ site.baseurl }}/assets/icons/youtube.png">
            </a>
        </li>
        <li>
            <a href="https://marketplace.visualstudio.com/items?itemName=jordanbunke.deltascript-for-stipple-effect" target="_blank" title="VS Code extension for scripting syntax highlighting">
                <img class="icon" src="{{ site.baseurl }}/assets/icons/vscode.png">
            </a>
        </li>
    </ul>
</nav>
