<!-- TODO -->
<nav>
    <ul>
        <li>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/docs/assets/icons/logo.png">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs">
                <img src="{{ site.baseurl }}/docs/assets/buttons/documentation.png">
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/api">
                <img src="{{ site.baseurl }}/docs/assets/buttons/api.png">
            </a>
        </li>
    </ul>
    <ul class="external-icons">
        <!-- TODO -->
        <li>
            <a href="https://github.com/jbunke/stipple-effect">
                <img src="{{ site.baseurl }}/docs/assets/icons/github.png">
            </a>
        </li>
        <li>
            <a href="https://flinkerflitzer.itch.io/stipple-effect">
                <img src="{{ site.baseurl }}/docs/assets/icons/itch.png">
            </a>
        </li>
        <li>
            <a href="https://github.com/jbunke/stipple-effect">
                <img src="{{ site.baseurl }}/docs/assets/icons/youtube.png">
            </a>
        </li>
        <li>
            <a href="https://github.com/jbunke/stipple-effect">
                <img src="{{ site.baseurl }}/docs/assets/icons/vscode.png">
            </a>
        </li>
    </ul>
</nav>
