<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/icons/logo.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layout.css">
    <script src="{{ site.baseurl }}/assets/js/logic.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/maria-2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/br-cobane" rel="stylesheet">
</head>
