---

---
@import "colors";
@import "fonts";

$content-width: 960px;
$content-padding: 8px;

html, body {
    height: auto; // 100%;
}

body {
    // background-color: $bg-veil;
    background-image: url("{{ site.baseurl }}/assets/img/background.png");
    background-repeat: repeat;
    margin: 0px;
}

// for Humble Bundle widget
.text-center {
    text-align: center;
}

.header, .footer {
    width: $content-width;
    background-color: #808080;
    margin: 0 auto;
    padding: $content-padding;
    border: 2px solid black;
    padding-bottom: 0px;
}

nav {
    position: sticky;
    z-index: 2;
    top: 0;

    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;

        li {
            float: left;
        }
    }

    a {
        text-decoration: none;
        padding: 2px;
    }

    .external-icons {
        float: right;
    }
}

footer {
    div {
        overflow: hidden;
        display: inline-block;
        font-family: $plain-text-font;
        font-weight: bold;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    p {
        color: black;
        margin: 0px;
    }

    .right {
        float: right;
    }
    
    a {
        color: $bg-color;
        text-decoration: none;
    
        &:hover {
            color: $link-text-hovered;
        }
    }
}

main {
    background-color: $bg-color;
    width: $content-width;
    min-height: calc(100vh - 102px); // magic number
    margin: 0 auto;
    padding: $content-padding;
    padding-top: 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;

    li {
        line-height: 1.8;
    }
        
    p, ul, ol, table {
        color: $body-text;
        font-family: $plain-text-font;
        line-height: 1.4;
    }

    table, th, td {
        border: 2px solid $body-text;
        border-collapse: collapse;
    }

    table {
        background-color: $code-bg;
        margin: auto;
    }

    th, td {
        padding: 3px;
    }

    p a, ul a, ol a, h1 a, h2 a, h3 a {
        color: $link-text;
        text-decoration: none;
    
        &:hover {
            color: $link-text-hovered;
        }
    }

    p:has(>img) {
        text-align: center;
    }
}

.media-container {
    margin: 10px;
    position: relative;
    padding: 4px;
    border: 1px solid black;

    .media {
        width: 100%;
        text-align: center;
    }
}

.caption {
    color: $body-text;
    font-family: $plain-text-font;
    font-size: 70%;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
}

h1, h2, h3 {
    color: $heading-text;
    font-family: $plain-text-font;
    line-height: 1.8;
}

h1 {
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

h1 img {
    max-width: 100%;
}

code.language-plaintext {
    background-color: $code-bg;
    color: $code-text;
    font-family: $code-font;

    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 6px;

    font-weight: normal;
    font-size: 90%;
}

a code.language-plaintext {
    &:hover {
        color: $link-text-hovered;
    }
}

// code block syntax highlighting
.language-js>div {
    background-color: $code-bg;
    border: 1px dashed $code-text;
    border-radius: 6px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;

    pre {
        margin: 0px;

        code {
            color: $code-text;
            font-family: $code-font;
            font-size: 90%;
    
            /* comment */
            .c1 {
                color: rgb(53, 153, 53);
            }
    
            /* string literal */
            .dl, .s1 {
                color: rgb(204, 70, 70);
            }
    
            /* escape character */
            .se {
                color: rgb(218, 124, 37);
            }
    
            /* scope punctuation */
            .p {
                color: #fdc62e;
            }
    
            /* semantic punctuation */
            .o {
                color: #a463d6;
            }
    
            /* num literal */
            .mi {
                color: #b5ce89;
            }
    
            /* keyword */
            .k {
                color: #447ed6;
            }
        }
    }
}
